<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/maps.js"></script>
    <script src="https://www.amcharts.com/lib/4/geodata/continentsLow.js"></script>
    <script src="https://www.amcharts.com/lib/4/plugins/bullets.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/dark.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
    <title>Groupie Tracker</title>
</head>

<body>
    <div id="artist-app">
        <div class="sidebar">
            <div class="sidebar-top">
                <a href="../index.html">
                    <h2>GTracker</h2>
                </a>
                <div class="sidebar-icons">
                    <div class="opacity">
                        <a href="../index.html"><svg aria-hidden="true" width="30px" height="30px" focusable="false"
                                data-prefix="fas" data-icon="home" class="svg-inline--fa fa-home fa-w-18" role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                <path fill="currentColor"
                                    d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z">
                                </path>
                            </svg></a>
                    </div>
                </div>
            </div>
            <div class="sidebar-bottom">
                <h3>Titres Populaires</h3>
                <div class="tracks">
                    <div class="track" v-for="track in top" :key="track.id">
                        <button :id="'pause'+ top.indexOf(track)" class="pause"
                            @click="getPlay('pause'+top.indexOf(track), track.id)"
                            :data-opposite="'play'+top.indexOf(track)">
                            <svg aria-hidden="true" width=15px height=15px focusable="false" data-prefix="fas"
                                data-icon="pause" class="svg-inline--fa fa-pause fa-w-14 pause-button" role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path fill="currentColor"
                                    d="M144 479H48c-26.5 0-48-21.5-48-48V79c0-26.5 21.5-48 48-48h96c26.5 0 48 21.5 48 48v352c0 26.5-21.5 48-48 48zm304-48V79c0-26.5-21.5-48-48-48h-96c-26.5 0-48 21.5-48 48v352c0 26.5 21.5 48 48 48h96c26.5 0 48-21.5 48-48z">
                                </path>
                            </svg>
                        </button>

                        <button :id="'play'+top.indexOf(track)" class="play"
                            @click="getPlay('play'+top.indexOf(track), track.id)"
                            :data-opposite="'pause'+top.indexOf(track)">
                            <svg aria-hidden="true" width=15px height=15px focusable="false" data-prefix="fas"
                                data-icon="play" class="svg-inline--fa fa-play fa-w-14 play-button" role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path fill="currentColor"
                                    d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z">
                                </path>
                            </svg>
                        </button>
                        <audio :src="track.preview" :id="track.id"></audio>
                        <h4 class="track-title">{{top.indexOf(track)+1}}. {{track.title_short}}</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="container grid-2">
                <div class="artist-header">
                    <div class="artist-content">
                        <img :src="artistData.image" alt="logo" id="logo">
                        <h1>{{artistData.name}}</h1>
                    </div>

                </div>
                <div class="chart-canva">
                    <div class="lds-ring">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div id="chartdiv"></div>
                </div>

                <div class="player">
                    <div class="player-content">
                        <div class="player-image">
                            <div class="dot"></div>
                        </div>
                        <div class="player-song">
                            <h3>{{playerControl.title}}</h3>
                            <h4>{{playerControl.artist}}</h4>
                        </div>
                        <div class="player-timer">
                            <div class="player-timer-duration">
                                <p>{{playerControl.currentTime}}</p>
                                <input type="range" min="0" max="30" step="1" v-model="playerControl.currentSlide">
                                <p>{{playerControl.totalTime}}</p>
                            </div>
                        </div>
                        <div class="player-volume">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                            v-if="isVolumeMute">
                                <polygon points="11 5 6 9 2 9 2 15 6 15 11 19 11 5"></polygon>
                                <line x1="23" y1="9" x2="17" y2="15"></line>
                                <line x1="17" y1="9" x2="23" y2="15"></line>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" v-if="isVolumeHigh">
                                <polygon points="11 5 6 9 2 9 2 15 6 15 11 19 11 5"></polygon>
                                <path d="M19.07 4.93a10 10 0 0 1 0 14.14M15.54 8.46a5 5 0 0 1 0 7.07"></path>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" v-if="isVolumeLow">
                                <polygon points="11 5 6 9 2 9 2 15 6 15 11 19 11 5"></polygon>
                                <path d="M15.54 8.46a5 5 0 0 1 0 7.07"></path>
                            </svg>
                            <input type="range" min="0" max="1" step="0.01" v-model="playerControl.volume" @mouseup="playerControl.volume+=0.1">
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="right-sidebar">
            <h2>Infos Artiste/Groupe</h1>
                <div class="fist-album">
                    <h4 class="italic">Premier Album</h4>
                    <h4>{{artistData.firstAlbum}}</h4>
                </div>
                <div class="creation-date">
                    <h4 class="italic">Date de Création</h4>
                    <h4>{{artistData.creationDate}}</h4>
                </div>
                <div class="membres">
                    <h4 class="italic">Membres</h4>
                    <ul>
                        <li v-for="member in artistData.members" :key="member">{{member}}</li>
                    </ul>
                </div>
        </div>


    </div>
    <script src="../assets/js/apiService.js"></script>
    <script src="../assets/js/deezerService.js"></script>
    <script src="./artist-app.js"></script>

</body>

</html>